/* import font */
@import "./fonts.css";

/* import variables */
@import "./partials/_variables.css";

/* import Global */
@import "./partials/_global.css";

/* navbar */
.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 0;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  color: var(--title-color);
  padding: 1.7rem;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Banner */
.site-main .site-banner .site-title h3{
    padding-top: 25%;
    padding-left: 10%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
    padding-left: 10%;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
    padding-left: 10%;
}

.site-main .site-banner .banner-image > img{
    padding: 3rem 0;
    width: 90rem;
}
