/* import font */
@import "./fonts.css";

/* navbar */
.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 0;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  font-family: "Roboto", cursive;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  padding: 1.7rem;
}
